/* body {
    background-color: burlywood;
} */

/* p{
    color: blueviolet;
    font-size: 80px;
} */

body {
    padding-bottom: 500px;
}

/* 08 Classes */

.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* 09 ID */

#exclusive-title {
    background-color: purple;
    color: beige;
    padding: 10px;
    font-size: 40px;
}

/* 10 Multíplas regras */

h2 {
    border-bottom: 2px dotted red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}
/* 11 Nome da cor */

.color-name {
    color: crimson;
}

/* 12 Hex */

.hex {
    background-color: green;
    color: white;
}

.hex-2 {
    background: #55a398;
    color: white;
}

/* 13 Hex simplificado */

.simple-hex{
    /* color: #333333; */
    color: #333;
}

.simple-hex-2 {
    /* color: #aa55ff; */
    color: #a5f;
}

/* 14 RGB */

.rgb {
    color: rgb(255,0,0);
}

.mixed-rgb {
    color: rgb(199,21,47);
}

/* 15 RGBA */

.rgba {
    color: rgba(255, 0, 0, 0.3);
}

/* 16 bg img */

.bg-image {
    background-image: url(../img/nature.jpg);
    padding: 10px;
    color: #fff;
}

/* 17 div */

.bg-opacity {
    background-color: green;
    opacity: 0.8;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}

.rgba-opacity {
    background-color: rgba(90, 12, 20, 0.2);
    color: #000;
    opacity: 0.2;
}

.centered-bg, .not-centered-bg {
    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
}

.centered-bg {
    border: 4px dotted purple;
    background-position: center;
    background-size: cover;
}

.padding, .without-padding {
    background-color: #111;
    color: #fff;
}

.padding {
    background-color: #333;
    padding: 20px;
}